<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Shoe Store Finder</title>
    </head>
    <body>
        <h1><a href="/">Shoe Store</a></h1>

        <h2><i>{{ brand.getName }}</i></h2>
        <h3>Stores:</h3>
            {% if stores is not empty %}
                {% for store in stores %}
            <ul>
                <li><a href="/store/{{ store.getId }}"><h4>{{ store.getName }}</h4></a><a href="/store/{{store.getId}}/edit"> Edit</a></li>
            </ul>
                {% endfor %}
            {% else %}
            <p>No stores added yet!</p>
            {% endif %}

            <!-- <form action="/store/{{store.getId}}/add_brand" method="post">
                <div class="form-group">
                <label name ="enter_store">Add a brand to this store</label>
                <input type="text" name="name" required>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form> -->

            <!-- <form action="/delete_all_brands" method="post">
                <button type="submit" class="btn btn-danger">Delete All</button>
            </form> -->
    </body>
</html>
